body {
	padding: 80px;
}

table {
	background: yellow;
	width: 100%; 
	border-collapse: collapse; 
}
.main {
	margin: auto;
  	width: 100%;
  
	/* Zebra striping */
}
tr:nth-of-type(odd) { 
	background: #eee; 
}
th { 
	background: #333; 
	color: white; 
	font-weight: bold; 
	cursor: s-resize;
	background-repeat: no-repeat;
    background-position: 3% center;
}
td, th { 
	padding: 6px; 
	border: 1px solid #ccc; 
	text-align: left; 
}

th.des:after {
  content: "\2207";
}

th.aes:after {
  content: "\2206";
}

.details li label {
	width:100%;
}
.details li label .label {
	width:20%;
	display: inline-block;
	font-weight: bold;
}
.details li label span {
	width: 70%;
	display: inline-block;
	text-align: left;
}

.transactions p {
	margin-top: 50px;
	font-weight: bold;
	font-size: 20px;
}
.transactions .items {
	margin-left: 50px;
}